# ignore the build folder
build/
out/

# ignore some IDE fields
*.iml
*.ipr
*.iws
/.idea/
# ignore gradle file
 /.gradle/
 gradle/
gradlew
gradlew.bat
/classes/
.gradle/*


#ignore system files
.DS_Store
