#board{
  -fx-background-image: url("chessboard-realigned.jpg");
  -fx-background-repeat: stretch;   
  -fx-background-size: 535 510;
  -fx-background-position: center center;
  -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0); 
}

